body {
    background-image: url("/images.jpg");
    height: 100vh;
    background-size: cover;
    font-weight: bold;
    font-family: 'OpenSans' 'Helvetica Neue' sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 5px;
    width: 40%;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}